RewriteEngine On
RewriteBase /bestdealcrm/

# Only rewrite non-file, non-directory requests to root index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L,QSA]
